DEBUG=0

DJANGO_SUPERUSER_USERNAME=
DJANGO_SUPERUSER_PASSWORD=
DJANGO_SUPERUSER_EMAIL=
DJANGO_SECRET_KEY=

DB_IGNORE_SSL=
POSTGRES_HOST=
POSTGRES_DB=
POSTGRES_PASSWORD=
POSTGRES_USER=
POSTGRES_PORT=

REDIS_HOST=redis_db
REDIS_PORT=6388

DIGITAL_OCEAN_API_TOKEN=